body{
  font-family: 'Montserrat', sans-serif;
}
/* Title */
#title{
  background-color: #ff4c68;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}
h2{
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 2.7rem;
  line-height: 1.5;
}
h3{
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #8f8f8f;
}
em{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: #fff;
}
.download-button{
  margin: 5% 3% 5% 0%;
}
.container-fluid{
  padding: 3% 15% 7%;
}
.title-image{
  width: 60%;
  margin-left: 40px;
  transform: rotate(25deg);
  position: absolute;
  right:  20%;
}
/* Navbar */
.navbar{
  padding-left: 0;
  margin-bottom: 40px;
}
.navbar-brand{
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
}
.nav-item{
  font-size: 1.2rem;
  font-weight: normal;
  padding-right: 5%;
}
/* Features */
#features{
  padding:7% 15%;
  background-color: #fff;
  position: relative;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 7%;
}
.icon:hover{
  color: #ff4c68;
}
/* Testimonials section */
#testimonials{
  text-align: center;
  background-color: #ef8172;
}
.testimonial-image
{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
  padding: 7% 15%;
}
/* Press */
#press{
  background-color: #ef8172;
  text-align: center;
  padding: 20px;
}
.press-logo{
  width: 15%;
  margin: 20px 30px 100px;
}
/* Pricing */
#pricing{
  padding: 100px;
  text-align: center;
}
.price-sec{
  padding: 3% 2%;
}
.section-text{
  color: #000;
}
.price-text{
  color: #000;
}
/* call to action */
#cta{
  background-color:  #ff4c68;
  text-align: center;
  padding: 7% 15%;
}
.bigheading{
  color: #fff;
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
/* footer */
#footer{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.social-icon{
  padding: 1%;
}
@media (max-width: 1028px)
{
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
